{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in book_detail %}

                <div class="book col-md-4">
                   <h2> {{book.name|linebreaks}} </h2>
                    <p>Автор: {{book.author}}</p>
                    <p>Дата публикации: {{book.pub_date|date:'Y-m-d'}}</p>
                </div>
            {% endfor %}

        </div>

       


        {% if book_detail.has_previous %}
            <a href="?page={{ book_detail.previous_page_number }}"><<{{ date_before }}</a>
        {% endif %}
        {% if book_detail.has_next %}
            <a href="?page={{ book_detail.next_page_number }}">{{ date_next }}>></a>
        {% endif %}

    </div>

{% endblock %}